body{
   background-color: white;
}


h1{ 
     font-family: verdana;
     font-size: 20px;
     color: black; 
     text-align: center;
}

p {
     font-family: verdana;
     font-size: 12px;
     color: black; 
     text-align: center;

}
